# Importing Files

In [124]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import LabelEncoder

In [125]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [126]:
test.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [127]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

# Handling missing values

In [5]:
train.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [137]:
value = train["Id"]
value2 = test["Id"]

In [ ]:
test.isnull().sum()

In [ ]:
for i in train.columns:
    if(train[i].isnull().sum() > 0):
        print(i,train[i].isnull().sum())

In [ ]:
for i in test.columns:
    if(test[i].isnull().sum() > 0):
        print(i,test[i].isnull().sum())

In [ ]:
train["Alley"].isnull().sum()

In [ ]:
train.drop(columns ="Alley", inplace=True)
test.drop(columns ="Alley", inplace=True)
train.drop(columns ="MasVnrType", inplace=True)
test.drop(columns ="MasVnrType", inplace=True)
train.drop(columns ="FireplaceQu", inplace=True)
test.drop(columns ="FireplaceQu", inplace=True)
train.drop(columns ="PoolQC", inplace=True)
test.drop(columns ="PoolQC", inplace=True)
train.drop(columns ="Fence", inplace=True)
test.drop(columns ="Fence", inplace=True)
train.drop(columns ="MiscFeature", inplace=True)
test.drop(columns ="MiscFeature", inplace=True)

In [ ]:
train.isnull().sum()

In [ ]:
for i in train.columns:
    if(train[i].isnull().sum() > 0):
        print(i,train[i].isnull().sum())

In [ ]:
for i in test.columns:
    if(test[i].isnull().sum() > 0):
        print(i,test[i].isnull().sum())

In [ ]:
for i in train.columns:
    if(train[i].isnull().sum() > 0 and train[i].dtypes == "object" ):
        train[i].fillna(method='bfill', inplace=True)
        print(i,test[i].isnull().sum())

In [ ]:
for i in test.columns:
    if((test[i].isnull().sum()) and(test[i].dtypes == "object")):
        test[i].fillna(method='bfill', inplace=True)
        print(i,test[i].isnull().sum())

In [ ]:
for i in train.columns:
    if(train[i].isnull().sum() > 0 and train[i].dtypes != "object"):
        train[i] = train[i].mean()
        print(i,train[i].isnull().sum())

In [ ]:
for i in test.columns:
    if(test[i].isnull().sum() > 0 and test[i].dtypes != "object"):
        test[i] = test[i].mean()
        print(i,test[i].isnull().sum())

In [ ]:
for i in test.columns:
    if test[i].isnull().sum():
        print(i)

In [ ]:
test.isnull().sum()

# Handling outlier

In [ ]:
for col in train.columns:
    if pd.api.types.is_numeric_dtype(train[col]):
        sns.boxplot(x=train[col])
        plt.title(f"Boxplot of {col}")
        plt.show()

In [ ]:
def handle_outliers(column):
    Q1 = train[column].quantile(0.25)
    Q3 = train[column].quantile(0.75)
    IQR = Q3 - Q1
    print(f"Q1: {Q1}, Q3: {Q3}, IQR: {IQR}")

    lbound = Q1 - 1.5 * IQR
    ubound = Q3 + 1.5 * IQR
    print(f"Lower Bound: {lbound}, Upper Bound: {ubound}")

    train[column] = np.where(train[column] > ubound, ubound,
                          np.where(train[column] < lbound, lbound, train[column]))

for col in train.columns:
    if pd.api.types.is_numeric_dtype(train[col]):
        if col != "Parch":
            handle_outliers(col)
            sns.boxplot(x=train[col])
            plt.title(f"Boxplot of {col}")
            plt.show()

In [ ]:
for col in test.columns:
    if pd.api.types.is_numeric_dtype(test[col]):
        sns.boxplot(x=test[col])
        plt.title(f"Boxplot of {col}")
        plt.show()

In [ ]:
def handle_outliers(column):
    Q1 = test[column].quantile(0.25)
    Q3 = test[column].quantile(0.75)
    IQR = Q3 - Q1
    print(f"Q1: {Q1}, Q3: {Q3}, IQR: {IQR}")

    lbound = Q1 - 1.5 * IQR
    ubound = Q3 + 1.5 * IQR
    print(f"Lower Bound: {lbound}, Upper Bound: {ubound}")

    test[column] = np.where(test[column] > ubound, ubound,
                          np.where(test[column] < lbound, lbound, test[column]))

for col in test.columns:
    if pd.api.types.is_numeric_dtype(test[col]):
        if col != "Parch":
            handle_outliers(col)
            sns.boxplot(x=test[col])
            plt.title(f"Boxplot of {col}")
            plt.show()

# spliting the data

In [ ]:
x_train = train.drop(columns ="SalePrice")
y_train = train["SalePrice"]
x_test = test

# Label encoding

In [ ]:
label = LabelEncoder()
for col in x_train.columns:
    if pd.api.types.is_object_dtype(x_train[col]):
        x_train[col] = label.fit_transform(x_train[col])

In [ ]:
x_train.head()

In [ ]:
label = LabelEncoder()
for col in x_test.columns:
    if pd.api.types.is_object_dtype(x_test[col]):
        x_test[col] = label.fit_transform(x_test[col])

In [ ]:
x_test.head()

In [ ]:
corr_matrix = x_train.corr()

In [ ]:
corr_matrix

In [ ]:
# For continuous features
correlation_matrix = x_train.corrwith(y_train)
print(correlation_matrix)
for i in correlation_matrix:
    print(i)

In [ ]:
# Identify constant columns in x_train
constant_columns_train = [col for col in x_train.columns if x_train[col].nunique() == 1]

# Identify constant columns in x_test
constant_columns_test = [col for col in x_test.columns if x_test[col].nunique() == 1]

# Find common constant columns in both datasets
common_constant_columns = set(constant_columns_train) & set(constant_columns_test)


print("Common constant columns in both datasets:", common_constant_columns)

In [ ]:
x_train = x_train.drop(columns=common_constant_columns)
x_test = x_test.drop(columns=common_constant_columns)

In [ ]:
x_train.info()

In [ ]:
x_test.info()

In [ ]:
corr = x_train.corrwith(y_train)

# Set a correlation threshold
threshold = 0.3

# Identify columns to drop based on the threshold
columns_to_drop = corr[abs(corr) < threshold].index.tolist()

# Drop those columns from both datasets
x_train = x_train.drop(columns=columns_to_drop)
x_test = x_test.drop(columns=columns_to_drop)

In [ ]:
x_train

In [ ]:
x_test

In [ ]:
scalar = StandardScaler()
x_train = scalar.fit_transform(x_train)
x_test = scalar.fit_transform(x_test)

In [ ]:
x_train

In [129]:
x_test

array([[ 0.58437016, -0.75435458, -0.34108159, ...,  0.95294225,
         0.43191466, -0.81370161],
       [ 1.3141686 , -0.05600221, -0.43985196, ...,  0.95294225,
         2.6289073 , -0.15377444],
       [ 1.19359321, -0.75435458,  0.84416284, ..., -1.46925765,
         1.05714576, -0.19043706],
       ...,
       [ 2.26338943, -0.75435458, -0.37400505, ...,  0.95294225,
         2.86336896, -0.81370161],
       [ 0.25851309, -0.75435458,  0.67954556, ..., -1.46925765,
        -0.08911126, -0.22709968],
       [ 0.03391727,  0.64235016,  0.71246902, ..., -1.46925765,
         0.86610293,  0.06620128]])

In [130]:
from sklearn.ensemble import GradientBoostingRegressor

In [131]:
model = GradientBoostingRegressor()

In [132]:
model = model.fit(x_train,y_train)

In [133]:
pred = model.predict(x_test)

In [134]:
pred

array([123592.11102008, 161508.59569656, 178823.79337389, ...,
       159333.26395244, 142182.32067295, 233927.82657128])

In [141]:
# Assuming you have a dataframe 'submission' with 'PassengerId' and 'Survived' columns

# Ensure PassengerId is an integer type
final = value2,pred
# Save the submission file as CSV without index
#submission.to_csv('submission.csv', index=False)
final

(0       1461
 1       1462
 2       1463
 3       1464
 4       1465
         ...
 1454    2915
 1455    2916
 1456    2917
 1457    2918
 1458    2919
 Name: Id, Length: 1459, dtype: int64,
 array([123592.11102008, 161508.59569656, 178823.79337389, ...,
        159333.26395244, 142182.32067295, 233927.82657128]))

In [151]:
final = pd.DataFrame({"Id":value2.values,"SalePrice":pred})
final

        Id      SalePrice
0     1461  123592.111020
1     1462  161508.595697
2     1463  178823.793374
3     1464  187356.639814
4     1465  210448.108211
...    ...            ...
1454  2915   82052.680822
1455  2916   81713.278008
1456  2917  159333.263952
1457  2918  142182.320673
1458  2919  233927.826571

[1459 rows x 2 columns]

In [152]:
final.to_csv('submission.csv', index=False)

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor()
scores = cross_val_score(model, x_train, y_train, cv=5)  # 5-fold cross-validation
print("Cross-validated scores:", scores)
print("Mean score:", scores.mean())

In [138]:
value

0          1
1          2
2          3
3          4
4          5
        ...
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64