# count vectorizer reference link : https://www.youtube.com/watch?v=unABVXnjFXw

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [15]:
text = ["hello this is dwarakesh how are you i am fine","then bye dwarakesh"]       # it will give count the words in row by row
cv = CountVectorizer()
result = cv.fit_transform(text)
result = result.toarray()
result

array([[1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1],
       [0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [14]:
fre = pd.DataFrame(data = result,columns = cv.get_feature_names_out())
fre

   am  are  bye  dwarakesh  fine  hello  how  is  then  this  you
0   1    1    0          1     1      1    1   1     0     1    1
1   0    0    1          1     0      0    0   0     1     0    0

# using stop words

In [18]:
text = ["hello this is dwarakesh how are you i am fine","then bye dwarakesh"]
cv = CountVectorizer(stop_words = "english")
result1 = cv.fit_transform(text)
result1 = result1.toarray()
result1

array([[0, 1, 1, 1],
       [1, 1, 0, 0]], dtype=int64)

In [19]:
fre1 = pd.DataFrame(data = result1,columns = cv.get_feature_names_out())
fre1

   bye  dwarakesh  fine  hello
0    0          1     1      1
1    1          1     0      0

# using max_feature for custom important column

In [20]:
text = ["hello this is dwarakesh how are you i am fine","then bye dwarakesh"]
cv = CountVectorizer(stop_words = "english",max_features=3)
result1 = cv.fit_transform(text)
result1 = result1.toarray()
result1

array([[0, 1, 1],
       [1, 1, 0]], dtype=int64)

In [21]:
fre1 = pd.DataFrame(data = result1,columns = cv.get_feature_names_out())
fre1

   bye  dwarakesh  fine
0    0          1     1
1    1          1     0